<div class="flex-column" style="background-color: red; align-items: center; ;justify-content: center;">
  <%=link_to image_tag('marvel_logo.png', alt: 'Marvel show room'), root_path %>
  <div style= "padding: 50px">
    <%=form_with url: search_character_path, method: :get do |f| %>
      <%= f.text_field 'character_name', placeholder: 'Find by character' %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<div class="flex-row">
  <%-@comics.each do |comic| %>
    <%-if comic.cover_url.present? %>
      <div class="cover-wrapper">
        <% cache comic do %>
          <%=image_tag comic.cover_url, size: "300x400", alt: comic.id %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="flex-row navigation-buttons">
  <button class= "btn navigation-button">
    <%=link_to 'PREVIOUS', comic_collections_path(offset: @previous_offset)%>
  </button>
  <button class="btn navigation-button">
    <%=link_to 'NEXT', comic_collections_path(offset: @next_offset)%>
  </button>
</div>


